@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #121212;
  --primary: #1f67f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f0f0f0;
    --primary: #e3f054;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
